<template>
  <v-container>
    <v-btn @click="navigateToStore" color="primary">Back to catalog</v-btn>

    <v-divider></v-divider>

    <v-card v-if="!store.cart.length">
      <v-card-title class="text-center">Empty Cart</v-card-title>
    </v-card>

    <v-row v-else>
      <v-col v-for="item in store.cart" :key="item.id" cols="12">
        <v-card class="cart-item">
          <v-row align="center">
            <v-col cols="3">
              <img :src="item.image" alt="" class="cart-item-image">
            </v-col>
            <v-col cols="6">
              <div class="item-details">
                <p><strong>Brand:</strong> {{ item.title }}</p>
                <p><strong>Category:</strong> {{ item.category }}</p>
                <p><strong>Unit Price:</strong> ${{ item.price }}</p>
                <p><strong>Total Price:</strong> ${{ calculateTotalPrice(item) }}</p>
              </div>
            </v-col>
            <v-col cols="3">
              <v-row align="center">
                <b>Quantity</b>
                <v-col cols="12">
                  <v-text-field
                      v-model.number="item.quantity"
                      type="number"
                      min="1"
                      outlined
                      dense
                      @input="updatePrice(item)"
                      :value="item.quantity || 1"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-btn @click="removeFromCart(item.id)" color="error">Remove</v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <v-btn v-if="store.cart.length" @click="processPayment" color="success">Process Payment</v-btn>
  </v-container>
</template>

<script setup>
import { productsStore } from "@/stores/store";
import { useRouter } from "vue-router";

const router = useRouter();
const store = productsStore();

// Method to remove an item from the cart
const removeFromCart = (id) => {
  store.removeFromCart(id);
};

// Method to navigate to the shipping view and process the payment
const processPayment = () => {
  store.processPay(getPaymentInfo());
  router.push({ name: "ShippingView" });
};

// Method to retrieve payment information
const getPaymentInfo = () => {
  return {
    totalAmount: calculateTotalAmount(),
    items: store.cart,
  };
};

// Method to calculate the total amount of the cart
const calculateTotalAmount = () => {
  let total = 0;
  for (const item of store.cart) {
    total += item.price * item.quantity;
  }
  return total;
};

// Method to calculate the total price of an item
const calculateTotalPrice = (item) => {
  if (item.quantity == null) {
    item.quantity = 1;
  }
  return item.price * item.quantity;
};

// Method to ensure the input quantity is not less than 1
const updatePrice = (item) => {
  if (item.quantity < 1) {
    item.quantity = 1;
  }
};

// Method to navigate back to the product catalog
const navigateToStore = () => {
  router.push({ name: 'StoreView' });
};
</script>

<style scoped>
@import '@/assets/css/cart.css';
</style>
