<template>
  <div>
    <v-btn @click="navigateToStore" color="primary" variant="elevated">
      Back to Store
    </v-btn>

    <div class="product" v-if="store.product">
      <div class="product-image">
        <img :src="store.product.image" alt="" class="image">
      </div>
      <div class="product-details">
        <p><b>Category:</b> {{ store.product.category }}</p>
        <p><b>Brand:</b> {{ store.product.title }}</p>
        <p><b>Description:</b> {{ store.product.description }}</p>
        <!--<p><b>Rating:</b> {{ store1.product.rating.rate }} ({{ store1.product.rating.count }} reviews)</p><!-->
        <h2><b>Price:</b> ${{ store.product.price }}</h2>
        <v-btn variant="elevated" color="indigo lighten-3" @click="addToCart">Add to cart</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: 'ProductDetails'
})
</script>

<script setup>
import { onMounted } from "vue";
import { productsStore } from "@/stores/store";
import { useRoute, useRouter } from "vue-router";

const store = productsStore();
const router = useRouter();
const route = useRoute();

//
// Fetch product details when the component is mounted
onMounted(async () => {
  await store.getProductById(Number(route.params.id));
});

//
// Method to add the product to the cart and navigate to the cart view
const addToCart = () => {
  store.addToCart(store.product);
  router.push({ name: 'CartView' });
};

// Method to navigate back to the product catalog
const navigateToStore = () => {
  router.push({ name: 'StoreView' });
};
</script>

<style scoped>
@import '@/assets/css/productDetail.css';
</style>