<template>
  <v-container>
    <v-btn @click="navigateToCart" color="primary">Back to Cart</v-btn>
    <v-row class="text-center">
      <v-col cols="12" md="9">
        <v-card class="payment-container">
          <v-card-title>
            <h2>Payment Details</h2>
          </v-card-title>
          <v-card-text>
            <div class="payment-info">
              <h3><b>Total Amount:</b> ${{ store.productToSell.totalAmount }}</h3>
            </div>
            <v-divider></v-divider>
            <br><br><br>
            <v-form>

              <div class="address-form">
                <h3>Shipping Address:</h3>
                <v-row>
                  <v-col cols="12" sm="4">
                    <label for="street">Street</label>
                    <v-text-field id="street" v-model="address.street"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="4">
                    <label for="city">City</label>
                    <v-text-field id="city" v-model="address.city"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="4">
                    <label for="zip">Zip Code</label>
                    <v-text-field id="zip" v-model="address.zip"></v-text-field>
                  </v-col>
                </v-row>
              </div>

              <div class="payment-form">
                <h3>Payment Methods :</h3>
                <v-row>
                  <v-col cols="12" sm="6">
                    <label for="cardHolder">Card Holder</label>
                    <v-text-field id="cardHolder" v-model="paymentInfo.cardHolder"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <label for="cardNumber">Card Number</label>
                    <v-text-field id="cardNumber" v-model="paymentInfo.cardNumber"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <label for="expiry">Expiry Date (MM/YY)</label>
                    <v-text-field id="expiry" v-model="paymentInfo.expiry"></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <label for="cvv">CVV</label>
                    <v-text-field id="cvv" v-model="paymentInfo.cvv"></v-text-field>
                  </v-col>
                </v-row>
              </div>
            </v-form>

          </v-card-text>

          <v-card-actions>
            <v-btn class="btn-complete-payment" color="info" @click="completePayment" >Place ordre</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogVisible" max-width="300">
      <v-card class="success-dialog">
        <v-card-title class="success-title">
          <v-icon color="success">mdi-check-circle-outline</v-icon>
          Payment Success
        </v-card-title>
        <v-card-text>Your payment was successful!</v-card-text>
        <v-card-actions>
          <v-btn color="success" @click="handlePaymentSuccess">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script setup>
import { productsStore } from "@/stores/store";
import { useRouter } from "vue-router";
import { ref, reactive } from "vue";
import AddressModel from "@/models/AddressModel";
import PaymentInfoModel from "@/models/PaymentInfoModel";

const router = useRouter();
const store = productsStore();

const address = reactive(new AddressModel());
const paymentInfo = reactive(new PaymentInfoModel());
const dialogVisible = ref(false);

// Method to complete the payment process
const completePayment = () => {
  // Check if all required fields are filled
  if (!address.isValid() || !paymentInfo.isValid()) {
    alert("Please fill in all required fields.");
    return;
  }

  // Set dialog visibility to true
  dialogVisible.value = true;
};

// Method to handle payment success
const handlePaymentSuccess = () => {
  // Remove items from the cart
  store.productToSell.items.forEach((item) => {
    store.removeFromCart(item.id);
  });

  // Navigate to the store view
  router.push({ name: "StoreView" });
};

// Method to navigate to the cart view
const navigateToCart = () => {
  router.push({ name: 'CartView' });
};
</script>

<style scoped>
@import '@/assets/css/shipping.css';
</style>
