<template>
  <v-container>
    <v-row class="filters-row">
      <!-- Search by name -->
      <v-col cols="12" sm="6">
        <v-text-field v-model="searchName" label="Search by Name" outlined clearable></v-text-field>
      </v-col>

      <!-- Filter by category -->
      <v-col cols="12" sm="6">
        <v-select
            v-model="selectedCategory"
            :items="categories"
            label="Filter by Category"
            outlined
            clearable
        />
      </v-col>
    </v-row>
    <!-- Product list -->
    <div class="products-list">
      <v-row no-gutters>
        <v-col
            v-for="product in filteredProducts"
            :key="product.id"
            cols="12"
            sm="4"
            @click="goToProductPage(product.id)">
          <product-item
              :product-data="product"
              @item-clicked="goToProductPage"
          />
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script setup>
import { onMounted, ref, watch } from 'vue';
import { productsStore } from '@/stores/store';
import { useRouter } from 'vue-router';
import ProductItem from "@/components/ProductItem.vue";

const store = productsStore();
const router = useRouter();

const searchName = ref('');
const selectedCategory = ref(null);
const categories = ref([]);
const filteredProducts = ref([]);

// Method to fetch products and categories from the store on component mount
onMounted(async () => {
  await store.fetchProductsFromDB();
  await store.fetchCategories();
  categories.value = store.categories;
  filteredProducts.value = store.products;
});

// Method to filter products by category
const filterProductsByCategory = () => {
  const category = selectedCategory.value ? selectedCategory.value.toLowerCase() : null;
  if (category) {
    filteredProducts.value = store.products.filter(product => product.category.toLowerCase() === category);
  } else {
    filteredProducts.value = store.products;
  }
};

// Watcher for selectedCategory changes
watch(selectedCategory, filterProductsByCategory);

// Watcher for searchName changes
watch(searchName, (newValue) => {
  filteredProducts.value = store.products.filter(product =>
      product.title.toLowerCase().includes(newValue.toLowerCase())
  );
});

// Method to navigate to the product detail page
const goToProductPage = (id) => {
  router.push({ name: 'ProductView', params: { id } });
};
</script>

<style scoped>
</style>
