<template>
  <header>

    <v-toolbar title="Carrefour - Mini E-commerce Product">
      <v-btn
          @click="router.push({ name: 'CartView' })"
          color="primary"
          variant="elevated"

      >Items in Cart: {{ store.cart.length }}
      </v-btn>
    </v-toolbar>
  </header>
  <main>
    <RouterView />
  </main>
</template>

<script setup>
import { useRouter } from "vue-router";
import { productsStore } from "@/stores/store";

const router = useRouter()
const store = productsStore()
</script>


<style scoped>
.cart-items {
  text-align: end;
  padding: 16px;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}
</style>
